<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YAVIRAC COFFEE</title>
  <link rel="icon" href="../static/imgs/image-removebg-preview.png">
  <link rel="stylesheet" href="../static/css/style_admin.css" />
</head>

<body>
  <nav>
    <input type="checkbox" id="menu" />


    <a href="/admin" class="enlace">
      <img src="../static/imgs/image-removebg-preview.png" class="logo">
    </a>

    <ul class="nav">
      <li><a href="/datos_usuario"><img src="../static/imgs/cafe2.jpg" width="50" healt="Login">        
        <ul class="nav-vertical">
          <li><a  href="/">Cerrar sesion</a></li>
        </ul> </a></li>
      <li><a id="sad" style="text-decoration: none;" href="/admin">Inicio</a></li>
      <li><a id="sad" style="text-decoration: none;" href="/productos_admin">Productos</a></li>
      <li><a id="sad" style="text-decoration: none;" href="/usuarios_admin">Usuarios</a></li>
    </ul>
  </nav>
  <div class="inicio" id="inicio">
    <h1>YAVIRAC COFFEE</h1>
    <p>
      Un lugar agradable en donde podrá disfrutar el mejor Café.
    </p>
  </div>
  <footer class="Pie-Pagina" id="cont">
    <div class="grupo-2">
      <small>&copy; 2024 <b>YAVIRAC COFFEE</b> - Todos los derechos reservados.</small>
    </div>
  </footer>
</body>

</html>