<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YAVIRAC COFFEE</title>
  <link rel="stylesheet" href="../static/css/miCarrito.css"/>
</head>

<body>
  <nav>
    <input type="checkbox" id="menu" />
    <label for="menu" class="checkbtn">
      <i class="fa-solid fa-bars"></i>
    </label>

    <a href="/" class="enlace">
      <img src="../static/imgs/image-removebg-preview.png" class="logo">
    </a>

    <ul class="nav">
      <li><a href="/">Inicio</a></li>
      <li>
        <a>Carrito</a>
        <ul class="nav-vertical">
          <li><a href="/productos">Productos</a></li>
          <li><a href="/carrito">Mi Carrito</a></li>
        </ul>
      </li>
      <li><a href="#cont">Contactos</a></li>
      <li><a href="/registro">Login/Registro</a></li>
    </ul>
  </nav>

  <div>
    <div id="productos-container">
      <!-- Los productos se cargarán aquí mediante JavaScript -->
  </div>
  <div id="total-compra">
      <!-- El total se calculará y mostrará aquí -->
  </div>
  <script>
      // Aquí irá tu código JavaScript para cargar los productos y calcular el total
  </script>
  </div>