<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inica sesion o registrarte</title>
    <link rel="icon" href="../static/imgs/image-removebg-preview.png">
    <link rel="stylesheet" href="../static/css/Registro.css">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <button class="b_regresar"   onclick="history.back()">Volver</button>
            <div class="form-content">
                <h1>Bienvenido</h1>
                <div class="buttons">
                    <button id="signInBtn" onclick="showSignIn()">Iniciar sesion</button>
                    <button id="signUpBtn" onclick="showSignUp()">Registrarse</button>
                </div>

                <form id="signInForm" class="form" style="display: none;" method="POST" >
                    <input type="email" id="email" name = 'correo_electronico' class="form-control" placeholder="Correo Electrónico" required>
                    <input type="password" id="password" name = 'contraseña' class="form-control" placeholder="Contraseña" required>
                    <button type="button" onclick="loguear()">Iniciar sesión</button>
                </form>
                
                
                
                
                <form id="signUpForm" class="form" style="display: none;", method = 'POST'>
                    <input type="text" name = 'cedula' class="form-control" placeholder="Cédula" required>
                    <input type="text" name = 'nombre' class="form-control" placeholder="Nombre" required>
                    <input type="text" name = 'apellido' class="form-control" placeholder="Apellido" required>
                    <input type="email" name = 'correo_electronico' class="form-control" placeholder="Correo Electrónico" required>
                    <input type="password" name = 'contraseña' class="form-control" placeholder="Contraseña" required>
                    <input type="text" name = 'direccion' class="form-control" placeholder="Dirección" required>
                    <input type="tel" name = 'telefono' class="form-control" placeholder="Teléfono" required>
                    <h4>Fecha de Nacimiento</h4><input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" required>
                    <button type="submit" href="/" >Registrarse</button>
                    <a href="/">cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/js/Registro.js"></script>
</body>
</html>

